header{
    display: flex;
    justify-content:space-between;
    padding: 5px;
    background-color: #006039;
    color: white;

}

.logo-rolex {
    display: flex;
    width: 150px;
    height: 150px;
}

.carrinho {
  display: flex;
  align-items: flex-end;
}